<nav class="navbar navbar-dark navbar-expand-lg bg-dark">
  <span class="navbar-brand mb-0 h1">Ticket App</span>
  <ul class="navbar-nav mr-auto">
        <a class="nav-link" *ngIf="!this._cService.loggedIn()"  routerLink="/login">Login</a>
        <a class="nav-link" *ngIf="!this._cService.loggedIn()" routerLink="/sign-up">Sign-up</a>
        <a class="nav-link" style="cursor: pointer" *ngIf="this._cService.loggedIn()" (click) = "this._cService.logoutUser()">Logout</a>
</ul>
</nav>

<div >
  <router-outlet></router-outlet>
</div>